/*i am css*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display:grid;
  grid-template-areas:
  "header header"
  "menu content";
  grid-template-columns: 1fr, 3fr;
  gap: 30px;
  padding: 5px;
}

.container div{
 padding: 10px;
}

.container div.header{
  grid-area: header;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 3px solid black;
  border-radius: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align: center;
}

.container div.menu{
  grid-area: menu;
  border: 3px solid black;
  border-radius: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.container div.content{
  grid-area: content;
   border: 3px solid black;
  border-radius: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}






/* .container{
  display:grid;

  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "header header header"
  "left main";

  max-width: 1100px;
  margin: auto;
} */


/* header{
  grid-area:header
} */
 

/* .header{
  padding:30px;
  background-color:rgb(239, 246, 189);
  border-radius: 20px;
  border-bottom: 1px solid black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  text-align: center;
  padding-top: 8rem;
} */

/* h1 {
    color: rgb(60, 96, 29);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 31px;
}

.menu{

  padding-top: 7px;
  font-size: 16px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;

}

.menu ul{
  list-style:none;
  margin: 0;
  padding: 0;
  border: 1px solid
}

.menu li{
  margin: 0;
}

.menu a{
  text-decoration:none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(60, 96, 29);


}

.menu a:hover{
  color: rgb(97, 145, 55);
}

h2{
    color:rgb(60, 96, 29);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding: 40px;
    
}

.home{
  display: grid;
  gap: 20px;
  padding: 60px 40px;
  grid-template-columns: 1fr 1fr;
}

.home img{
width: 80%;
display: block;
}

p{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

    body {
    background-color: rgb(253, 241, 237);
    margin: 0px;
  } */
/* 
    .outer-page-border{
    width: 80%px;
    padding: px;
    border: 1px solid rgb(0, 0, 0);
    margin: 15px;
    background-color: rgb(249, 245, 241);
    
  }


    .page-border{
    width: 80%px;
    padding: 0px;
    border: 1px solid rgb(0, 0, 0);
    margin: 30px;
    background-color: rgb(255, 255, 255);
    
  } */
