/*i am css*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  padding:30px;
  background-color:rgb(206, 234, 251);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  text-align: center;
  padding-top: 8rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

h1 {
    color: rgb(58, 81, 196);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 31px;
}

.menu{
  padding-top: 7px;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  padding-left: 8px;
}

.menu ul{
  list-style:none;
  margin: 0;
  padding: 0;
  display:flex;
}

.menu li{
  margin: 0 20px
}

.menu a{
  text-decoration:none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(38, 58, 162);
  /* padding: 15px 0 */
  display:block;
}

.menu a:hover{
  color: rgb(80, 104, 220);
}

.park{
  display: grid;
  gap: 20px;
  padding: 60px 40px;
  grid-template-columns: 1fr 1fr;
}

.park-image img{
width: 80%;
display: block;
}

.park-text{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2{
    color:rgb(58, 81, 196);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding: 40px;
    
}

/* .maps{
  display:flex;
} */


.image-grid{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
}

.image-grid a{
  display:block;
}

.image-grid img{
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  display:block;
}

p{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

  body {
    background-color: rgb(240, 246, 254);
  }


    .page-border{
    width: 80%px;
    padding: 0px;
    border: 2px solid rgb(58, 81, 196);
    border-radius: 20px;
    margin: 40px;
    background-color: rgb(249, 245, 241);
    
  }

